.columns {
	margin: 15px;
    column-gap: 15px;
}

@media screen and (min-width: 992px) {
    .columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media screen and (max-width: 991px) {
    .columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media screen and (max-width: 600px) {
    .columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }
}